.family {
  display: flex;
    justify-content: left;
    margin: 1rem;
}

.parent {
  border: 5px solid #000;
  padding: 2rem;
  margin: 10px;
}

.children {
  border: 3px solid #ff5722;
  padding: 1rem 0 0 1rem;
  margin : 5px
}

.gson {
  border: 2px solid #3f51b5;
    padding: 0.5rem 0 0 1.5rem;
    margin: 0.2rem;
}

.gdaughter {
  border: 2px solid #e929ad;
    padding: 0.5rem 0 0 1.5rem;
    margin: 0.2rem;
}