*{
    box-sizing: border-box;
}

body{
    margin :0;
    padding: 0;
}

.toolbox-cont{
    background-color:#4b4b4b ;
    height: 5rem;
    display: flex;
    align-items: center;
  
}


.toolbox-priority-cont{
   width: 18rem;
   height: 3.5rem;
   background-color: #3d3d3d;
   margin-left : 4rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   

}

.color-box{
      height: 1.5rem;
      width: 3rem; 
}


.lightpink{
    background-color: lightpink;
}


.lightgreen {
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}


.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color:#3d3d3d ;
    margin-left : 4rem;
    display: flex;
}


.action-btn-cont>*{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}


.add-btn:hover{
   font-size: 3rem ;
   background-color:#4BB543 ;
}

.remove-btn:hover{
    font-size: 3rem ;
    background-color:#4BB543 ;
 }


 .main-cont{
   display: flex;
   gap : 2rem;
   justify-content: center;
   padding: 2rem;
 }



 .ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: coral;
}

.ticket-color-cont{
    height: 1rem;
    background-color: none;
}

.ticket-id{
    height: 2rem;
    background-color: yellow;
}

.ticket-lock{
    display: flex;
    justify-content: flex-end;
    margin-top: 5.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;


}


.modal-cont{
     height: 50vh;
     width: 45vw;
     display: none;
     position: absolute;
     top : 30%;
     left : 27%

}


.textArea-cont{
    height: 100%;
    width: 70%;
    background-color: #dfe4ea;
    resize: none;
    border: none;
    outline: none;
    font-size: 2rem;

}

.priority-colors-container{
  background-color: #4b4b4b;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid lightsalmon;
}

