*{
    box-sizing: border-box;
}

body{
    margin :0;
    padding: 0;
}

.toolbox-cont{
    background-color:#4b4b4b ;
    height: 5rem;
    display: flex;
    align-items: center;
  
}


.toolbox-priority-cont{
   width: 18rem;
   height: 3.5rem;
   background-color: #3d3d3d;
   margin-left : 4rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   

}

.color-box{
      height: 1.5rem;
      width: 3rem; 
}


.lightpink{
    background-color: lightpink;
}


.lightgreen {
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}


.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color:#3d3d3d ;
    margin-left : 4rem;
    display: flex;
}


.action-btn-cont>*{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}


.add-btn:hover{
   font-size: 3rem ;
   background-color:#4BB543 ;
}

.remove-btn:hover{
    font-size: 3rem ;
    background-color:red ;
 }


 .main-cont{
   display: flex;
   gap : 2rem;
   justify-content: center;
   padding: 2rem;
 }



 .ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: coral;
}

.ticket-color{
    height: 1rem;
    background-color: lightpink;
}

.ticket-id{
    height: 2rem;
    background-color: yellow;
}

.ticket-lock{
    display: flex;
    justify-content: flex-end;
    margin-top: 5.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;


}

